node_modules
bower_components
.grunt
*.sublime-workspace
*.orig


###
# OS X Specific dotfiles
###
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db